In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../yemoonsaBigdata/datasets/Part2/iris.csv')

<br>

#### **1. Iris 데이터 세트에서 species 변수 값 별로 petal_width 상위 25% 값을 구한 후, 가장 큰 값과 가장 작은 값 사이의 차이를 계산하시오**

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [64]:
df.groupby('species')['petal_width'].quantile([0.75])

species
setosa      0.75    0.3
versicolor  0.75    1.5
virginica   0.75    2.3
Name: petal_width, dtype: float64

In [65]:
answer = 2.3 - 0.3
answer

1.9999999999999998

<br>

#### **2. Iris 데이터 세트에서 sepal_length 변수의 전체 값들을 중복 없이 리스트로 만든 후, 오름차순으로 정렬했을 때 리스트의 10번째에 오는 숫자를 계산하시오.**

In [19]:
answer = list(df['sepal_length'].drop_duplicates())
answer = sorted(answer)[:10]
answer

[4.3, 4.4, 4.5, 4.6, 4.7, 4.8, 4.9, 5.0, 5.1, 5.2]

In [20]:
answer[9]

5.2

<br>

#### **3. Iris 데이터 세트에서 sepal_width 변수 값으로 내림차순 한 후 위에서부터 100개 행을 학습 데이터로 분리하고, 학습 데이터에서 sepal_width의 표준편차 값을 구한 후 50을 곱한 값을 계산하시오**

In [25]:
X_train = df.sort_values(by='sepal_width', ascending=False)
X_train = X_train[:100]

In [29]:
answer = X_train['sepal_width'].std() * 50
answer

16.341061869728755

<br>

#### **4. Iris 데이터 세트에서 species 변수 값 별로 petal_length 상위 10개 행(큰 값)의 평균값을 구한 후, 평균값의 합을 계산하시오**

In [36]:
cardinality = df['species'].unique().tolist()

In [44]:
tmp = []
for c in cardinality:
    top10 = df[df['species'] == c].sort_values(by='petal_length', ascending=False)['petal_length'].tolist()[:10]
    tmp.append(np.mean(top10))

In [46]:
sum(tmp)

12.92

<br>

##### **정답**

In [68]:
data = df.sort_values(by=['species', 'petal_length'], ascending=[True, False])
data_top_10 = data.groupby('species').head(10)
data_top_10.groupby('species')['petal_length'].mean().sum()

12.92

<br><br>

#### **5. Iris 데이터 세트에서 sepal_length 변수가 이상치를 가지는 데이터 행 수를 계산하시오.**

단, 이상치 범위는 (평균 + 2 * 표준편차) 이상이거나 (평균 - 2 * 표준편차) 이다.

<br>

In [47]:
mean = df['sepal_length'].mean()
std = df['sepal_length'].std()

down, up = mean - 2 * std, mean + 2 * std

In [63]:
len(df[(df['sepal_length'] >= up) | (df['sepal_length'] <= down)])

6