In [1]:
import numpy as np
import pandas as pd

In [2]:
X_train = pd.read_csv('../yemoonsaBigdata/datasets/Part2/stellar_X_train.csv')
y_train = pd.read_csv('../yemoonsaBigdata/datasets/Part2/stellar_y_train.csv')

X_test = pd.read_csv('../yemoonsaBigdata/datasets/Part2/stellar_X_test.csv')

<br>

주어진 학습용 데이터를 활용하여 해당 천체가 은하인지 아닌지 예측 모형을 만든 후,

이를 평가용 데이터 (stellar_X_test.csv)에 적용하여 얻은 천체의 은하 여부를 다음과 같은 형식의 csv 파일로 생성하세요.

<br>

In [3]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   alpha     70000 non-null  float64
 1   delta     70000 non-null  float64
 2   u         70000 non-null  float64
 3   g         70000 non-null  float64
 4   r         70000 non-null  float64
 5   i         70000 non-null  float64
 6   z         70000 non-null  float64
 7   redshift  70000 non-null  float64
 8   run_ID    70000 non-null  int64
 9   rerun_ID  70000 non-null  int64
 10  cam_col   70000 non-null  int64
 11  field_ID  70000 non-null  int64
 12  plate     70000 non-null  int64
dtypes: float64(8), int64(5)
memory usage: 6.9 MB

In [6]:
'''
데이터 전처리

모두 다 수치 데이터이며, 결측치가 없다.

이상치가 있는지 확인해보도록 하자.

u, g, z 에 이상치가 있는 것으로 확인된다.

'''

X_train.describe()

,alpha,delta,u,g,r,i,z,redshift,run_ID,rerun_ID,cam_col,field_ID,plate
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.0,70000.000000,70000.000000,70000.000000
mean,177.535809,24.107885,21.938806,20.486718,19.644011,19.082969,18.624590,0.575246,4478.649443,301.0,3.510500,186.045714,5127.852900
std,96.483093,19.665057,37.942814,37.925201,1.852053,1.755997,37.904705,0.729921,1965.326847,0.0,1.585203,148.661268,2947.452991
min,0.005528,-18.785328,-9999.000000,-9999.000000,9.822070,9.469903,-9999.000000,-0.009971,109.000000,301.0,1.000000,11.000000,266.000000
25%,127.385304,5.115922,20.349987,18.957325,18.136183,17.733732,17.463838,0.052602,3185.000000,301.0,2.000000,82.000000,2525.750000
50%,180.706865,23.579507,22.183860,21.095445,20.122805,19.399590,19.001010,0.422838,4188.000000,301.0,4.000000,146.000000,4978.000000
75%,233.942154,39.871336,23.684145,22.121073,21.039012,20.391340,19.917578,0.700399,5326.000000,301.0,5.000000,241.000000,7389.000000
max,359.999615,82.947622,32.781390,31.602240,29.571860,32.141470,28.790550,7.011245,8162.000000,301.0,6.000000,989.000000,12547.000000

In [11]:
columns_outlier = ['u', 'g', 'z']

q = []
for col in columns_outlier:
    q.append(X_train[col].quantile(0.25).tolist())
q

[20.349987499999997, 18.957325, 17.4638375]

In [36]:
dataset = pd.concat([X_train, y_train], axis=1)
dataset

,alpha,delta,u,g,r,i,z,redshift,run_ID,rerun_ID,cam_col,field_ID,plate,galaxy
0,15.543143,11.633094,22.93538,20.90945,19.21472,18.55761,18.25810,0.351560,7787,301,2,303,4663,1
1,229.830659,22.738286,19.23876,18.55859,18.35505,18.30021,18.02694,2.342957,4649,301,5,297,3955,0
2,197.034525,4.473539,21.53487,20.89188,20.05817,19.31662,18.85004,0.654545,2247,301,3,242,4758,1
3,350.480205,33.899168,21.74429,21.16560,20.75535,20.17831,19.89537,1.722429,8157,301,3,66,7757,0
4,2.394550,-4.361202,22.31607,22.79926,21.83227,21.34860,21.70997,0.852792,7824,301,5,332,9344,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,49.151704,0.865266,22.07175,19.17831,17.79634,17.17832,16.82632,0.000088,3438,301,6,128,1065,0
69996,336.558707,17.420428,19.27420,17.41205,16.37569,15.86725,15.48150,0.110542,8101,301,3,78,5030,1
69997,223.505657,14.380025,19.85915,18.98436,18.64013,18.52208,18.49347,-0.000344,5326,301,5,155,5478,0
69998,352.367055,0.755039,24.72686,21.53885,20.22935,19.59513,18.95154,0.282975,4188,301,5,59,4212,1
69999,129.623180,21.335263,23.82704,22.75066,23.21906,22.67158,21.31543,1.088960,6597,301,2,230,9594,1

In [37]:
dataset_drop_outlier = dataset[(dataset[columns_outlier[0]] > -9999) | (dataset[columns_outlier[1]] > -9999) | (dataset[columns_outlier[2]] > -9999)]

In [38]:
dataset_drop_outlier

,alpha,delta,u,g,r,i,z,redshift,run_ID,rerun_ID,cam_col,field_ID,plate,galaxy
0,15.543143,11.633094,22.93538,20.90945,19.21472,18.55761,18.25810,0.351560,7787,301,2,303,4663,1
1,229.830659,22.738286,19.23876,18.55859,18.35505,18.30021,18.02694,2.342957,4649,301,5,297,3955,0
2,197.034525,4.473539,21.53487,20.89188,20.05817,19.31662,18.85004,0.654545,2247,301,3,242,4758,1
3,350.480205,33.899168,21.74429,21.16560,20.75535,20.17831,19.89537,1.722429,8157,301,3,66,7757,0
4,2.394550,-4.361202,22.31607,22.79926,21.83227,21.34860,21.70997,0.852792,7824,301,5,332,9344,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,49.151704,0.865266,22.07175,19.17831,17.79634,17.17832,16.82632,0.000088,3438,301,6,128,1065,0
69996,336.558707,17.420428,19.27420,17.41205,16.37569,15.86725,15.48150,0.110542,8101,301,3,78,5030,1
69997,223.505657,14.380025,19.85915,18.98436,18.64013,18.52208,18.49347,-0.000344,5326,301,5,155,5478,0
69998,352.367055,0.755039,24.72686,21.53885,20.22935,19.59513,18.95154,0.282975,4188,301,5,59,4212,1
69999,129.623180,21.335263,23.82704,22.75066,23.21906,22.67158,21.31543,1.088960,6597,301,2,230,9594,1

In [39]:
'''

rerun의 경우에는 카디널리티가 1이라 의미가 없을 거라 판단하여 제거

'''

dataset_drop_outlier['rerun_ID'].unique()

array([301])

In [48]:
dataset_drop = dataset_drop_outlier.drop(columns='rerun_ID', axis=1)

X_test = X_test.drop(columns='rerun_ID', axis=1)

In [41]:
dataset_drop

,alpha,delta,u,g,r,i,z,redshift,run_ID,cam_col,field_ID,plate,galaxy
0,15.543143,11.633094,22.93538,20.90945,19.21472,18.55761,18.25810,0.351560,7787,2,303,4663,1
1,229.830659,22.738286,19.23876,18.55859,18.35505,18.30021,18.02694,2.342957,4649,5,297,3955,0
2,197.034525,4.473539,21.53487,20.89188,20.05817,19.31662,18.85004,0.654545,2247,3,242,4758,1
3,350.480205,33.899168,21.74429,21.16560,20.75535,20.17831,19.89537,1.722429,8157,3,66,7757,0
4,2.394550,-4.361202,22.31607,22.79926,21.83227,21.34860,21.70997,0.852792,7824,5,332,9344,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,49.151704,0.865266,22.07175,19.17831,17.79634,17.17832,16.82632,0.000088,3438,6,128,1065,0
69996,336.558707,17.420428,19.27420,17.41205,16.37569,15.86725,15.48150,0.110542,8101,3,78,5030,1
69997,223.505657,14.380025,19.85915,18.98436,18.64013,18.52208,18.49347,-0.000344,5326,5,155,5478,0
69998,352.367055,0.755039,24.72686,21.53885,20.22935,19.59513,18.95154,0.282975,4188,5,59,4212,1
69999,129.623180,21.335263,23.82704,22.75066,23.21906,22.67158,21.31543,1.088960,6597,2,230,9594,1

In [42]:
'''
이제 다른 특이한 값은 없는 것으로 판단되어 학습용 데이터셋과 검증용 데이터셋으로 분리하는 작업을 수행


'''

dataset_drop.describe()

,alpha,delta,u,g,r,i,z,redshift,run_ID,cam_col,field_ID,plate,galaxy
count,69999.000000,69999.000000,69999.000000,69999.000000,69999.000000,69999.000000,69999.000000,69999.000000,69999.000000,69999.000000,69999.000000,69999.000000,69999.000000
mean,177.535145,24.108238,22.081964,20.629856,19.644032,19.082984,18.767701,0.575254,4478.702681,3.510522,186.040701,5127.878813,0.593808
std,96.483622,19.664976,2.248554,2.033576,1.852057,1.756005,1.764734,0.729923,1965.290408,1.585204,148.656411,2947.466071,0.491125
min,0.005528,-18.785328,10.996230,10.498200,9.822070,9.469903,9.612333,-0.009971,109.000000,1.000000,11.000000,266.000000,0.000000
25%,127.384192,5.117238,20.350000,18.957435,18.136075,17.733685,17.463885,0.052608,3185.000000,2.000000,82.000000,2525.500000,0.000000
50%,180.705886,23.580630,22.183900,21.095450,20.122810,19.399590,19.001020,0.422848,4188.000000,4.000000,146.000000,4978.000000,1.000000
75%,233.942330,39.872079,23.684160,22.121075,21.039035,20.391350,19.917595,0.700399,5326.000000,5.000000,241.000000,7389.000000,1.000000
max,359.999615,82.947622,32.781390,31.602240,29.571860,32.141470,28.790550,7.011245,8162.000000,6.000000,989.000000,12547.000000,1.000000

In [45]:
columns_label = ['galaxy']
columns_num = [col for col in dataset_drop.columns if col not in columns_label]

X_train = dataset_drop[columns_num]
y_train = dataset_drop[columns_label]

In [46]:
from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, test_size=0.3, stratify=y_train)

In [49]:
'''
스케일링을 진행
'''

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_tr)

X_tr = scaler.transform(X_tr)
X_val = scaler.transform(X_val)
X_test = scaler.transform(X_test)

/Users/wooy0ng/miniconda3/envs/py39/lib/python3.9/site-packages/sklearn/base.py:432: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(

In [53]:
'''
변수 중요도를 체크하기 위해 RamdomForest 모델을 초기 모델로 설정
'''

from sklearn.ensemble import RandomForestClassifier

model_RF = RandomForestClassifier(n_estimators=500, max_depth=10, verbose=100)
model_RF.fit(X_tr, y_tr)

/var/folders/xj/8qmq115149l4lrq0qv4w4d1c0000gn/T/ipykernel_4134/3640576089.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_RF.fit(X_tr, y_tr)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
building tree 1 of 500
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s remaining:    0.0s
building tree 2 of 500
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.1s remaining:    0.0s
building tree 3 of 500
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.2s remaining:    0.0s
building tree 4 of 500
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    0.3s remaining:    0.0s
building tree 5 of 500
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.3s remaining:    0.0s
building tree 6 of 500
[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    0.4s remaining:    0.0s
building tree 7 of 500
[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    0.5s remaining:    0.0s
building tree 8 of 500
[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:    0.5s remaining:    0.0s
building tree 9 of 500
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:    0.6s remaining:    0.0s
building tree 10 of 500
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.6s remaining:    0.0s
building tree 11 of 500
[Parallel(n_jobs=1)]: Done  11 out of  11 | elapsed:    0.7s remaining:    0.0s
building tree 12 of 500
[Parallel(n_jobs=1)]: Done  12 out of  12 | elapsed:    0.8s remaining:    0.0s
building tree 13 of 500
[Parallel(n_jobs=1)]: Done  13 out of  13 | elapsed:    0.8s remaining:    0.0s
building tree 14 of 500
[Parallel(n_jobs=1)]: Done  14 out of  14 | elapsed:    0.9s remaining:    0.0s
building tree 15 of 500
[Parallel(n_jobs=1)]: Done  15 out of  15 | elapsed:    1.0s remaining:    0.0s
building tree 16 of 500
[Parallel(n_jobs=1)]: Done  16 out of  16 | elapsed:    1.0s remaining:    0.0s
building tree 17 of 500
[Parallel(n_jobs=1)]: Done  17 out of  17 | elapsed:    1.1s remaining:    0.0s
building tree 18 of 500
[Parallel(n_jobs=1)]: Done  18 out of  18 | elapsed:    1.2s remaining:    0.0s
building tree 19 of 500
[Parallel(n_jobs=1)]: Done  19 out of  19 | elapsed:    1.2s remaining:    0.0s
building tree 20 of 500
[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:    1.3s remaining:    0.0s
building tree 21 of 500
[Parallel(n_jobs=1)]: Done  21 out of  21 | elapsed:    1.4s remaining:    0.0s
building tree 22 of 500
[Parallel(n_jobs=1)]: Done  22 out of  22 | elapsed:    1.4s remaining:    0.0s
building tree 23 of 500
[Parallel(n_jobs=1)]: Done  23 out of  23 | elapsed:    1.5s remaining:    0.0s
building tree 24 of 500
[Parallel(n_jobs=1)]: Done  24 out of  24 | elapsed:    1.6s remaining:    0.0s
building tree 25 of 500
[Parallel(n_jobs=1)]: Done  25 out of  25 | elapsed:    1.6s remaining:    0.0s
building tree 26 of 500
[Parallel(n_jobs=1)]: Done  26 out of  26 | elapsed:    1.7s remaining:    0.0s
building tree 27 of 500
[Parallel(n_jobs=1)]: Done  27 out of  27 | elapsed:    1.8s remaining:    0.0s
building tree 28 of 500
[Parallel(n_jobs=1)]: Done  28 out of  28 | elapsed:    1.8s remaining:    0.0s
building tree 29 of 500
[Parallel(n_jobs=1)]: Done  29 out of  29 | elapsed:    1.9s remaining:    0.0s
building tree 30 of 500
[Parallel(n_jobs=1)]: Done  30 out of  30 | elapsed:    2.0s remaining:    0.0s
building tree 31 of 500
[Parallel(n_jobs=1)]: Done  31 out of  31 | elapsed:    2.0s remaining:    0.0s
building tree 32 of 500
[Parallel(n_jobs=1)]: Done  32 out of  32 | elapsed:    2.1s remaining:    0.0s
building tree 33 of 500
[Parallel(n_jobs=1)]: Done  33 out of  33 | elapsed:    2.2s remaining:    0.0s
building tree 34 of 500
[Parallel(n_jobs=1)]: Done  34 out of  34 | elapsed:    2.2s remaining:    0.0s
building tree 35 of 500
[Parallel(n_jobs=1)]: Done  35 out of  35 | elapsed:    2.3s remaining:    0.0s
building tree 36 of 500
[Parallel(n_jobs=1)]: Done  36 out of  36 | elapsed:    2.4s remaining:    0.0s
building tree 37 of 500
[Parallel(n_jobs=1)]: Done  37 out of  37 | elapsed:    2.4s remaining:    0.0s
building tree 38 of 500
[Parallel(n_jobs=1)]: Done  38 out of  38 | elapsed:    2.5s remaining:    0.0s
building tree 39 of 500
[Parallel(n_jobs=1)]: Done  39 out of  39 | elapsed:    2.6s remaining:    0.0s
building tree 40 of 500
[Parallel(n_jobs=1)]: Done  40 out of  40 | elapsed:    2.6s remaining:    0.0s
building tree 41 of 500
[Parallel(n_jobs=1)]: Done  41 out of  41 | elapsed:    2.7s remaining:    0.0s
building tree 42 of 500
[Parallel(n_jobs=1)]: Done  42 out of  42 | elapsed:    2.8s remaining:    0.0s
building tree 43 of 500
[Parallel(n_jobs=1)]: Done  43 out of  43 | elapsed:    2.8s remaining:    0.0s
building tree 44 of 500
[Parallel(n_jobs=1)]: Done  44 out of  44 | elapsed:    2.9s remaining:    0.0s
building tree 45 of 500
[Parallel(n_jobs=1)]: Done  45 out of  45 | elapsed:    3.0s remaining:    0.0s
building tree 46 of 500
[Parallel(n_jobs=1)]: Done  46 out of  46 | elapsed:    3.0s remaining:    0.0s
building tree 47 of 500
[Parallel(n_jobs=1)]: Done  47 out of  47 | elapsed:    3.1s remaining:    0.0s
building tree 48 of 500
[Parallel(n_jobs=1)]: Done  48 out of  48 | elapsed:    3.2s remaining:    0.0s
building tree 49 of 500
[Parallel(n_jobs=1)]: Done  49 out of  49 | elapsed:    3.2s remaining:    0.0s
building tree 50 of 500
[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:    3.3s remaining:    0.0s
building tree 51 of 500
[Parallel(n_jobs=1)]: Done  51 out of  51 | elapsed:    3.4s remaining:    0.0s
building tree 52 of 500
[Parallel(n_jobs=1)]: Done  52 out of  52 | elapsed:    3.4s remaining:    0.0s
building tree 53 of 500
[Parallel(n_jobs=1)]: Done  53 out of  53 | elapsed:    3.5s remaining:    0.0s
building tree 54 of 500
[Parallel(n_jobs=1)]: Done  54 out of  54 | elapsed:    3.5s remaining:    0.0s
building tree 55 of 500
[Parallel(n_jobs=1)]: Done  55 out of  55 | elapsed:    3.6s remaining:    0.0s
building tree 56 of 500
[Parallel(n_jobs=1)]: Done  56 out of  56 | elapsed:    3.7s remaining:    0.0s
building tree 57 of 500
[Parallel(n_jobs=1)]: Done  57 out of  57 | elapsed:    3.7s remaining:    0.0s
building tree 58 of 500
[Parallel(n_jobs=1)]: Done  58 out of  58 | elapsed:    3.8s remaining:    0.0s
building tree 59 of 500
[Parallel(n_jobs=1)]: Done  59 out of  59 | elapsed:    3.9s remaining:    0.0s
building tree 60 of 500
[Parallel(n_jobs=1)]: Done  60 out of  60 | elapsed:    3.9s remaining:    0.0s
building tree 61 of 500
[Parallel(n_jobs=1)]: Done  61 out of  61 | elapsed:    4.0s remaining:    0.0s
building tree 62 of 500
[Parallel(n_jobs=1)]: Done  62 out of  62 | elapsed:    4.1s remaining:    0.0s
building tree 63 of 500
[Parallel(n_jobs=1)]: Done  63 out of  63 | elapsed:    4.1s remaining:    0.0s
building tree 64 of 500
[Parallel(n_jobs=1)]: Done  64 out of  64 | elapsed:    4.2s remaining:    0.0s
building tree 65 of 500
[Parallel(n_jobs=1)]: Done  65 out of  65 | elapsed:    4.3s remaining:    0.0s
building tree 66 of 500
[Parallel(n_jobs=1)]: Done  66 out of  66 | elapsed:    4.3s remaining:    0.0s
building tree 67 of 500
[Parallel(n_jobs=1)]: Done  67 out of  67 | elapsed:    4.4s remaining:    0.0s
building tree 68 of 500
[Parallel(n_jobs=1)]: Done  68 out of  68 | elapsed:    4.5s remaining:    0.0s
building tree 69 of 500
[Parallel(n_jobs=1)]: Done  69 out of  69 | elapsed:    4.5s remaining:    0.0s
building tree 70 of 500
[Parallel(n_jobs=1)]: Done  70 out of  70 | elapsed:    4.6s remaining:    0.0s
building tree 71 of 500
[Parallel(n_jobs=1)]: Done  71 out of  71 | elapsed:    4.7s remaining:    0.0s
building tree 72 of 500
[Parallel(n_jobs=1)]: Done  72 out of  72 | elapsed:    4.7s remaining:    0.0s
building tree 73 of 500
[Parallel(n_jobs=1)]: Done  73 out of  73 | elapsed:    4.8s remaining:    0.0s
building tree 74 of 500
[Parallel(n_jobs=1)]: Done  74 out of  74 | elapsed:    4.9s remaining:    0.0s
building tree 75 of 500
[Parallel(n_jobs=1)]: Done  75 out of  75 | elapsed:    4.9s remaining:    0.0s
building tree 76 of 500
[Parallel(n_jobs=1)]: Done  76 out of  76 | elapsed:    5.0s remaining:    0.0s
building tree 77 of 500
[Parallel(n_jobs=1)]: Done  77 out of  77 | elapsed:    5.1s remaining:    0.0s
building tree 78 of 500
[Parallel(n_jobs=1)]: Done  78 out of  78 | elapsed:    5.1s remaining:    0.0s
building tree 79 of 500
[Parallel(n_jobs=1)]: Done  79 out of  79 | elapsed:    5.2s remaining:    0.0s
building tree 80 of 500
[Parallel(n_jobs=1)]: Done  80 out of  80 | elapsed:    5.3s remaining:    0.0s
building tree 81 of 500
[Parallel(n_jobs=1)]: Done  81 out of  81 | elapsed:    5.3s remaining:    0.0s
building tree 82 of 500
[Parallel(n_jobs=1)]: Done  82 out of  82 | elapsed:    5.4s remaining:    0.0s
building tree 83 of 500
[Parallel(n_jobs=1)]: Done  83 out of  83 | elapsed:    5.5s remaining:    0.0s
building tree 84 of 500
[Parallel(n_jobs=1)]: Done  84 out of  84 | elapsed:    5.5s remaining:    0.0s
building tree 85 of 500
[Parallel(n_jobs=1)]: Done  85 out of  85 | elapsed:    5.6s remaining:    0.0s
building tree 86 of 500
[Parallel(n_jobs=1)]: Done  86 out of  86 | elapsed:    5.7s remaining:    0.0s
building tree 87 of 500
[Parallel(n_jobs=1)]: Done  87 out of  87 | elapsed:    5.7s remaining:    0.0s
building tree 88 of 500
[Parallel(n_jobs=1)]: Done  88 out of  88 | elapsed:    5.8s remaining:    0.0s
building tree 89 of 500
[Parallel(n_jobs=1)]: Done  89 out of  89 | elapsed:    5.9s remaining:    0.0s
building tree 90 of 500
[Parallel(n_jobs=1)]: Done  90 out of  90 | elapsed:    5.9s remaining:    0.0s
building tree 91 of 500
[Parallel(n_jobs=1)]: Done  91 out of  91 | elapsed:    6.0s remaining:    0.0s
building tree 92 of 500
[Parallel(n_jobs=1)]: Done  92 out of  92 | elapsed:    6.1s remaining:    0.0s
building tree 93 of 500
[Parallel(n_jobs=1)]: Done  93 out of  93 | elapsed:    6.1s remaining:    0.0s
building tree 94 of 500
[Parallel(n_jobs=1)]: Done  94 out of  94 | elapsed:    6.2s remaining:    0.0s
building tree 95 of 500
[Parallel(n_jobs=1)]: Done  95 out of  95 | elapsed:    6.3s remaining:    0.0s
building tree 96 of 500
[Parallel(n_jobs=1)]: Done  96 out of  96 | elapsed:    6.3s remaining:    0.0s
building tree 97 of 500
[Parallel(n_jobs=1)]: Done  97 out of  97 | elapsed:    6.4s remaining:    0.0s
building tree 98 of 500
[Parallel(n_jobs=1)]: Done  98 out of  98 | elapsed:    6.5s remaining:    0.0s
building tree 99 of 500
[Parallel(n_jobs=1)]: Done  99 out of  99 | elapsed:    6.5s remaining:    0.0s
building tree 100 of 500
building tree 101 of 500
building tree 102 of 500
building tree 103 of 500
building tree 104 of 500
building tree 105 of 500
building tree 106 of 500
building tree 107 of 500
building tree 108 of 500
building tree 109 of 500
building tree 110 of 500
building tree 111 of 500
building tree 112 of 500
building tree 113 of 500
building tree 114 of 500
building tree 115 of 500
building tree 116 of 500
building tree 117 of 500
building tree 118 of 500
building tree 119 of 500
building tree 120 of 500
building tree 121 of 500
building tree 122 of 500
building tree 123 of 500
building tree 124 of 500
building tree 125 of 500
building tree 126 of 500
building tree 127 of 500
building tree 128 of 500
building tree 129 of 500
building tree 130 of 500
building tree 131 of 500
building tree 132 of 500
building tree 133 of 500
building tree 134 of 500
building tree 135 of 500
building tree 136 of 500
building tree 137 of 500
building tree 138 of 500
building tree 139 of 500
building tree 140 of 500
building tree 141 of 500
building tree 142 of 500
building tree 143 of 500
building tree 144 of 500
building tree 145 of 500
building tree 146 of 500
building tree 147 of 500
building tree 148 of 500
building tree 149 of 500
building tree 150 of 500
building tree 151 of 500
building tree 152 of 500
building tree 153 of 500
building tree 154 of 500
building tree 155 of 500
building tree 156 of 500
building tree 157 of 500
building tree 158 of 500
building tree 159 of 500
building tree 160 of 500
building tree 161 of 500
building tree 162 of 500
building tree 163 of 500
building tree 164 of 500
building tree 165 of 500
building tree 166 of 500
building tree 167 of 500
building tree 168 of 500
building tree 169 of 500
building tree 170 of 500
building tree 171 of 500
building tree 172 of 500
building tree 173 of 500
building tree 174 of 500
building tree 175 of 500
building tree 176 of 500
building tree 177 of 500
building tree 178 of 500
building tree 179 of 500
building tree 180 of 500
building tree 181 of 500
building tree 182 of 500
building tree 183 of 500
building tree 184 of 500
building tree 185 of 500
building tree 186 of 500
building tree 187 of 500
building tree 188 of 500
building tree 189 of 500
building tree 190 of 500
building tree 191 of 500
building tree 192 of 500
building tree 193 of 500
building tree 194 of 500
building tree 195 of 500
building tree 196 of 500
building tree 197 of 500
building tree 198 of 500
building tree 199 of 500
building tree 200 of 500
building tree 201 of 500
building tree 202 of 500
building tree 203 of 500
building tree 204 of 500
building tree 205 of 500
building tree 206 of 500
building tree 207 of 500
building tree 208 of 500
building tree 209 of 500
building tree 210 of 500
building tree 211 of 500
building tree 212 of 500
building tree 213 of 500
building tree 214 of 500
building tree 215 of 500
building tree 216 of 500
building tree 217 of 500
building tree 218 of 500
building tree 219 of 500
building tree 220 of 500
building tree 221 of 500
building tree 222 of 500
building tree 223 of 500
building tree 224 of 500
building tree 225 of 500
building tree 226 of 500
building tree 227 of 500
building tree 228 of 500
building tree 229 of 500
building tree 230 of 500
building tree 231 of 500
building tree 232 of 500
building tree 233 of 500
building tree 234 of 500
building tree 235 of 500
building tree 236 of 500
building tree 237 of 500
building tree 238 of 500
building tree 239 of 500
building tree 240 of 500
building tree 241 of 500
building tree 242 of 500
building tree 243 of 500
building tree 244 of 500
building tree 245 of 500
building tree 246 of 500
building tree 247 of 500
building tree 248 of 500
building tree 249 of 500
building tree 250 of 500
building tree 251 of 500
building tree 252 of 500
building tree 253 of 500
building tree 254 of 500
building tree 255 of 500
building tree 256 of 500
building tree 257 of 500
building tree 258 of 500
building tree 259 of 500
building tree 260 of 500
building tree 261 of 500
building tree 262 of 500
building tree 263 of 500
building tree 264 of 500
building tree 265 of 500
building tree 266 of 500
building tree 267 of 500
building tree 268 of 500
building tree 269 of 500
building tree 270 of 500
building tree 271 of 500
building tree 272 of 500
building tree 273 of 500
building tree 274 of 500
building tree 275 of 500
building tree 276 of 500
building tree 277 of 500
building tree 278 of 500
building tree 279 of 500
building tree 280 of 500
building tree 281 of 500
building tree 282 of 500
building tree 283 of 500
building tree 284 of 500
building tree 285 of 500
building tree 286 of 500
building tree 287 of 500
building tree 288 of 500
building tree 289 of 500
building tree 290 of 500
building tree 291 of 500
building tree 292 of 500
building tree 293 of 500
building tree 294 of 500
building tree 295 of 500
building tree 296 of 500
building tree 297 of 500
building tree 298 of 500
building tree 299 of 500
building tree 300 of 500
building tree 301 of 500
building tree 302 of 500
building tree 303 of 500
building tree 304 of 500
building tree 305 of 500
building tree 306 of 500
building tree 307 of 500
building tree 308 of 500
building tree 309 of 500
building tree 310 of 500
building tree 311 of 500
building tree 312 of 500
building tree 313 of 500
building tree 314 of 500
building tree 315 of 500
building tree 316 of 500
building tree 317 of 500
building tree 318 of 500
building tree 319 of 500
building tree 320 of 500
building tree 321 of 500
building tree 322 of 500
building tree 323 of 500
building tree 324 of 500
building tree 325 of 500
building tree 326 of 500
building tree 327 of 500
building tree 328 of 500
building tree 329 of 500
building tree 330 of 500
building tree 331 of 500
building tree 332 of 500
building tree 333 of 500
building tree 334 of 500
building tree 335 of 500
building tree 336 of 500
building tree 337 of 500
building tree 338 of 500
building tree 339 of 500
building tree 340 of 500
building tree 341 of 500
building tree 342 of 500
building tree 343 of 500
building tree 344 of 500
building tree 345 of 500
building tree 346 of 500
building tree 347 of 500
building tree 348 of 500
building tree 349 of 500
building tree 350 of 500
building tree 351 of 500
building tree 352 of 500
building tree 353 of 500
building tree 354 of 500
building tree 355 of 500
building tree 356 of 500
building tree 357 of 500
building tree 358 of 500
building tree 359 of 500
building tree 360 of 500
building tree 361 of 500
building tree 362 of 500
building tree 363 of 500
building tree 364 of 500
building tree 365 of 500
building tree 366 of 500
building tree 367 of 500
building tree 368 of 500
building tree 369 of 500
building tree 370 of 500
building tree 371 of 500
building tree 372 of 500
building tree 373 of 500
building tree 374 of 500
building tree 375 of 500
building tree 376 of 500
building tree 377 of 500
building tree 378 of 500
building tree 379 of 500
building tree 380 of 500
building tree 381 of 500
building tree 382 of 500
building tree 383 of 500
building tree 384 of 500
building tree 385 of 500
building tree 386 of 500
building tree 387 of 500
building tree 388 of 500
building tree 389 of 500
building tree 390 of 500
building tree 391 of 500
building tree 392 of 500
building tree 393 of 500
building tree 394 of 500
building tree 395 of 500
building tree 396 of 500
building tree 397 of 500
building tree 398 of 500
building tree 399 of 500
building tree 400 of 500
building tree 401 of 500
building tree 402 of 500
building tree 403 of 500
building tree 404 of 500
building tree 405 of 500
building tree 406 of 500
building tree 407 of 500
building tree 408 of 500
building tree 409 of 500
building tree 410 of 500
building tree 411 of 500
building tree 412 of 500
building tree 413 of 500
building tree 414 of 500
building tree 415 of 500
building tree 416 of 500
building tree 417 of 500
building tree 418 of 500
building tree 419 of 500
building tree 420 of 500
building tree 421 of 500
building tree 422 of 500
building tree 423 of 500
building tree 424 of 500
building tree 425 of 500
building tree 426 of 500
building tree 427 of 500
building tree 428 of 500
building tree 429 of 500
building tree 430 of 500
building tree 431 of 500
building tree 432 of 500
building tree 433 of 500
building tree 434 of 500
building tree 435 of 500
building tree 436 of 500
building tree 437 of 500
building tree 438 of 500
building tree 439 of 500
building tree 440 of 500
building tree 441 of 500
building tree 442 of 500
building tree 443 of 500
building tree 444 of 500
building tree 445 of 500
building tree 446 of 500
building tree 447 of 500
building tree 448 of 500
building tree 449 of 500
building tree 450 of 500
building tree 451 of 500
building tree 452 of 500
building tree 453 of 500
building tree 454 of 500
building tree 455 of 500
building tree 456 of 500
building tree 457 of 500
building tree 458 of 500
building tree 459 of 500
building tree 460 of 500
building tree 461 of 500
building tree 462 of 500
building tree 463 of 500
building tree 464 of 500
building tree 465 of 500
building tree 466 of 500
building tree 467 of 500
building tree 468 of 500
building tree 469 of 500
building tree 470 of 500
building tree 471 of 500
building tree 472 of 500
building tree 473 of 500
building tree 474 of 500
building tree 475 of 500
building tree 476 of 500
building tree 477 of 500
building tree 478 of 500
building tree 479 of 500
building tree 480 of 500
building tree 481 of 500
building tree 482 of 500
building tree 483 of 500
building tree 484 of 500

RandomForestClassifier(max_depth=10, n_estimators=500, verbose=100)

In [55]:
from sklearn.metrics import roc_auc_score

y_val_pred = model_RF.predict_proba(X_val)
print(roc_auc_score(y_val, y_val_pred[:, 1]))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  11 out of  11 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  12 out of  12 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  13 out of  13 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  14 out of  14 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  15 out of  15 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  16 out of  16 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  17 out of  17 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  18 out of  18 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  19 out of  19 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  21 out of  21 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  22 out of  22 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  23 out of  23 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  24 out of  24 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  25 out of  25 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  26 out of  26 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  27 out of  27 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  28 out of  28 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  29 out of  29 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  30 out of  30 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  31 out of  31 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  32 out of  32 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  33 out of  33 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  34 out of  34 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  35 out of  35 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  36 out of  36 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  37 out of  37 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  38 out of  38 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  39 out of  39 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  40 out of  40 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  41 out of  41 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  42 out of  42 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  43 out of  43 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  44 out of  44 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  45 out of  45 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  46 out of  46 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  47 out of  47 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  48 out of  48 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  49 out of  49 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  51 out of  51 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  52 out of  52 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  53 out of  53 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  54 out of  54 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  55 out of  55 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  56 out of  56 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  57 out of  57 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  58 out of  58 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  59 out of  59 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  60 out of  60 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  61 out of  61 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  62 out of  62 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  63 out of  63 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  64 out of  64 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  65 out of  65 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  66 out of  66 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  67 out of  67 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  68 out of  68 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  69 out of  69 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  70 out of  70 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  71 out of  71 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  72 out of  72 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  73 out of  73 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  74 out of  74 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  75 out of  75 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  76 out of  76 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  77 out of  77 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  78 out of  78 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  79 out of  79 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  80 out of  80 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  81 out of  81 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  82 out of  82 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  83 out of  83 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  84 out of  84 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  85 out of  85 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  86 out of  86 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  87 out of  87 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  88 out of  88 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  89 out of  89 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  90 out of  90 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  91 out of  91 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  92 out of  92 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  93 out of  93 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  94 out of  94 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  95 out of  95 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  96 out of  96 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  97 out of  97 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  98 out of  98 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  99 out of  99 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.6s finished
0.9938546438768401

In [57]:
for col, importance in zip(columns_num, model_RF.feature_importances_):
    print(f"{col}: {importance}")

alpha: 0.00723026826999087
delta: 0.007119966789931181
u: 0.06796363749626884
g: 0.08513958447349654
r: 0.0386009856589937
i: 0.06114002220362245
z: 0.10495377262101337
redshift: 0.5642501155073891
run_ID: 0.005531311892818277
cam_col: 0.001152936224732336
field_ID: 0.003124906759394015
plate: 0.05379249210234927