### 작업형 제1유형

1번 문제

In [26]:
import pandas as pd

df = pd.read_csv('../../yemoonsaBigdata/datasets/Part3/201_boston.csv')

<br>

sort_values 함수로 내림차순 정렬을 할 수 있다.

정렬을 할 컬럼으로 CRIM을 입력하고 ascending 옵션을 False로 지정하면 내림차순이 가능하다.

ascending 옵션을 지정하지 않거나, True로 지정하면 오름차순 정렬이 된다.

문제에서 상위 10개 데이터를 조작하므로 .head(12)로 위에서 12개의 데이터를 출력해보자.

In [27]:
df = df.sort_values(by='CRIM', ascending=False)
print(df.head(12))

        CRIM   ZN  INDUS  CHAS    NOX     RM    AGE     DIS   RAD    TAX
380  88.9762  0.0   18.1   0.0  0.671  6.968   91.9  1.4165  24.0  666.0  \
418  73.5341  0.0   18.1   0.0  0.679  5.957  100.0  1.8026  24.0  666.0
405  67.9208  0.0   18.1   0.0  0.693  5.683  100.0  1.4254  24.0  666.0
410  51.1358  0.0   18.1   0.0  0.597  5.757  100.0  1.4130  24.0  666.0
414  45.7461  0.0   18.1   0.0  0.693  4.519  100.0  1.6582  24.0  666.0
404  41.5292  0.0   18.1   0.0  0.693  5.531   85.4  1.6074  24.0  666.0
398  38.3518  0.0   18.1   0.0  0.693  5.453  100.0  1.4896  24.0  666.0
427  37.6619  0.0   18.1   0.0  0.679  6.202   78.7  1.8629  24.0  666.0
413  28.6558  0.0   18.1   0.0  0.597  5.155  100.0  1.5894  24.0  666.0
417  25.9406  0.0   18.1   0.0  0.679  5.304   89.1  1.6475  24.0  666.0
400  25.0461  0.0   18.1   0.0  0.693  5.987  100.0  1.5888  24.0  666.0
403  24.8017  0.0   18.1   0.0  0.693  5.349   96.0  1.7028  24.0  666.0

     PTRATIO       B  LSTAT
380     20.2  396.90  17.21
418     20.2   16.45  20.62
405     20.2  384.97  22.98
410     20.2    2.60  10.11
414     20.2   88.27  36.98
404     20.2  329.46  27.38
398     20.2  396.90  30.59
427     20.2   18.82  14.52
413     20.2  210.97  20.08
417     20.2  127.36  26.64
400     20.2  396.90  26.77
403     20.2  396.90  19.77

상위 10번째에 위치한 값을 찾기 위해 `iloc`를 활용하자.

`iloc[x, y]` 함수에서 x는 행의 위치를 말하며, y는 컬럼의 위치를 말한다.

따라서, `iloc[9, 0]`은 10번째 행의 첫번째 컬럼인 CRIM을 의미한다.

해당 값을 `crim_value`에 할당한다.

In [28]:
crim_value = df.iloc[9, 0]
print(crim_value)

25.9406

첫 번째 행부터 열 번째 행까지의 데이터 값을 변경하기 위해 `iloc` 함수를 한번 더 사용한다.

`iloc[a:b, y]`는 데이터의 a번 행 ~ b-1 번 행까지, y는 열을 출력한다.

따라서 `iloc[:10, 0]`는 첫 번째 행(0번 행)부터 열 번째 행(9번 행)까지의 첫번째 열(0번 열)인 CRIM에 해당한다.

여기에 crim_value를 지정하면 선택된 데이터가 crim_value로 변경된다.

다시 head(12)로 상위 12개 데이터를 출력하여 데이터가 잘 변경되었는지 확인해본다.

In [29]:
df.iloc[:10, 0] = crim_value
print(df.head(12))

        CRIM   ZN  INDUS  CHAS    NOX     RM    AGE     DIS   RAD    TAX
380  25.9406  0.0   18.1   0.0  0.671  6.968   91.9  1.4165  24.0  666.0  \
418  25.9406  0.0   18.1   0.0  0.679  5.957  100.0  1.8026  24.0  666.0
405  25.9406  0.0   18.1   0.0  0.693  5.683  100.0  1.4254  24.0  666.0
410  25.9406  0.0   18.1   0.0  0.597  5.757  100.0  1.4130  24.0  666.0
414  25.9406  0.0   18.1   0.0  0.693  4.519  100.0  1.6582  24.0  666.0
404  25.9406  0.0   18.1   0.0  0.693  5.531   85.4  1.6074  24.0  666.0
398  25.9406  0.0   18.1   0.0  0.693  5.453  100.0  1.4896  24.0  666.0
427  25.9406  0.0   18.1   0.0  0.679  6.202   78.7  1.8629  24.0  666.0
413  25.9406  0.0   18.1   0.0  0.597  5.155  100.0  1.5894  24.0  666.0
417  25.9406  0.0   18.1   0.0  0.679  5.304   89.1  1.6475  24.0  666.0
400  25.0461  0.0   18.1   0.0  0.693  5.987  100.0  1.5888  24.0  666.0
403  24.8017  0.0   18.1   0.0  0.693  5.349   96.0  1.7028  24.0  666.0

     PTRATIO       B  LSTAT
380     20.2  396.90  17.21
418     20.2   16.45  20.62
405     20.2  384.97  22.98
410     20.2    2.60  10.11
414     20.2   88.27  36.98
404     20.2  329.46  27.38
398     20.2  396.90  30.59
427     20.2   18.82  14.52
413     20.2  210.97  20.08
417     20.2  127.36  26.64
400     20.2  396.90  26.77
403     20.2  396.90  19.77

참고로 iloc 함수가 아닌 loc 함수를 사용할 수도 있다.

loc 함수로 행의 인덱스 번호와 열의 이름으로 특정 데이터를 선택할 수 있다.

따라서 데이터를 불러오고 내림차순한 후, `reset_index` 함수로 인덱스 번호를 0번부터 차례로 다시 매겨줘야 한다.

또한 행 범위로 데이터를 추출할 때에도 차이가 존재한다.

`loc[a:b, y]`는 `iloc[a:b, y]`와는 달리 데이터의 a 인덱스 ~ b 인덱스까지 컬럼 y에 해당한다.

In [30]:
df = pd.read_csv('../../yemoonsaBigdata/datasets/Part3/201_boston.csv')

df = df.sort_values(by='CRIM', ascending=False).reset_index(drop=True)
crim_value = df.loc[9, 'CRIM']
print(crim_value)

df.loc[:9, 'CRIM'] = crim_value
print(df.head(12))

25.9406
       CRIM   ZN  INDUS  CHAS    NOX     RM    AGE     DIS   RAD    TAX
0   25.9406  0.0   18.1   0.0  0.671  6.968   91.9  1.4165  24.0  666.0  \
1   25.9406  0.0   18.1   0.0  0.679  5.957  100.0  1.8026  24.0  666.0
2   25.9406  0.0   18.1   0.0  0.693  5.683  100.0  1.4254  24.0  666.0
3   25.9406  0.0   18.1   0.0  0.597  5.757  100.0  1.4130  24.0  666.0
4   25.9406  0.0   18.1   0.0  0.693  4.519  100.0  1.6582  24.0  666.0
5   25.9406  0.0   18.1   0.0  0.693  5.531   85.4  1.6074  24.0  666.0
6   25.9406  0.0   18.1   0.0  0.693  5.453  100.0  1.4896  24.0  666.0
7   25.9406  0.0   18.1   0.0  0.679  6.202   78.7  1.8629  24.0  666.0
8   25.9406  0.0   18.1   0.0  0.597  5.155  100.0  1.5894  24.0  666.0
9   25.9406  0.0   18.1   0.0  0.679  5.304   89.1  1.6475  24.0  666.0
10  25.0461  0.0   18.1   0.0  0.693  5.987  100.0  1.5888  24.0  666.0
11  24.8017  0.0   18.1   0.0  0.693  5.349   96.0  1.7028  24.0  666.0

    PTRATIO       B  LSTAT
0      20.2  396.90  17.21
1      20.2   16.45  20.62
2      20.2  384.97  22.98
3      20.2    2.60  10.11
4      20.2   88.27  36.98
5      20.2  329.46  27.38
6      20.2  396.90  30.59
7      20.2   18.82  14.52
8      20.2  210.97  20.08
9      20.2  127.36  26.64
10     20.2  396.90  26.77
11     20.2  396.90  19.77

데이터가 80이상인 값을 찾기 위해 다음과 같이 코드를 작성한다.

In [31]:
rst_df = df[df['AGE'] >= 80]
result = rst_df['CRIM'].mean()

print(result)

5.759386625

2번 문제

In [32]:
df = pd.read_csv('../../yemoonsaBigdata/datasets/Part3/202_housing.csv')
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [33]:
value = int(len(df) * 0.8)
rst_df = df.loc[:value-1, 'total_bedrooms']

std1 = rst_df.std()
med = rst_df.median()
rst_df_fillna = rst_df.fillna(med)

std2 = rst_df_fillna.std()
result = abs(std1 - std2)

print(result)

1.9751472916456692

<br>

3번 문제

In [34]:
import pandas as pd

df = pd.read_csv('../../yemoonsaBigdata/datasets/Part3/202_housing.csv')

mean = df['population'].mean()
std = df['population'].std()

lower = mean - (std * 1.5)
upper = mean + (std * 1.5)

rst_df = df.loc[(df['population'] < lower) | (df['population'] > upper), 'population']
result = rst_df.sum()

print(result)

5607295.0

<br>

### 작업형 제2유형

In [35]:
import pandas as pd

X_train = pd.read_csv('../../yemoonsaBigdata/datasets/Part3/204_x_train.csv')
X_test = pd.read_csv('../../yemoonsaBigdata/datasets/Part3/204_x_test.csv')
y_train = pd.read_csv('../../yemoonsaBigdata/datasets/Part3/204_y_train.csv')

데이터 전처리

info 함수로 데이터의 행 수, 컬럼별 결측치 수와 데이터 타입 등을 확인해본다.

ID 값은 무의미하므로 학습 시 제외해야한다.

In [36]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6599 entries, 0 to 6598
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6599 non-null   int64
 1   Warehouse_block      6599 non-null   object
 2   Mode_of_Shipment     6599 non-null   object
 3   Customer_care_calls  6599 non-null   int64
 4   Customer_rating      6599 non-null   int64
 5   Cost_of_the_Product  6599 non-null   int64
 6   Prior_purchases      6599 non-null   int64
 7   Product_importance   6599 non-null   object
 8   Gender               6599 non-null   object
 9   Discount_offered     6599 non-null   int64
 10  Weight_in_gms        6599 non-null   int64
dtypes: int64(7), object(4)
memory usage: 567.2+ KB
None

각 컬럼에 결측치가 있는지 확인해보자.

In [37]:
X_train.isnull().sum()

ID                     0
Warehouse_block        0
Mode_of_Shipment       0
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    0
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
dtype: int64

앞에서 데이터 탐색한 결과를 바탕으로 변수들을 불필요한 변수(col_del), 수치형 변수(col_num), 범주형 변수(col_cat), 종속 변수(col_y)로 나눈다.

변수를 종류별로 나누어 리스트에 저장해둠으로써 코딩 시 컬럼을 빠뜨리거나 잘못 기입하는 실수를 줄일 수 있고 데이터 전처리 및 모델링 시 편리하게 사용할 수 있다.

In [38]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6599 entries, 0 to 6598
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6599 non-null   int64
 1   Warehouse_block      6599 non-null   object
 2   Mode_of_Shipment     6599 non-null   object
 3   Customer_care_calls  6599 non-null   int64
 4   Customer_rating      6599 non-null   int64
 5   Cost_of_the_Product  6599 non-null   int64
 6   Prior_purchases      6599 non-null   int64
 7   Product_importance   6599 non-null   object
 8   Gender               6599 non-null   object
 9   Discount_offered     6599 non-null   int64
 10  Weight_in_gms        6599 non-null   int64
dtypes: int64(7), object(4)
memory usage: 567.2+ KB

In [39]:
col_del = ['ID']
col_num = ['Customer_care_calls', 'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases', 'Discount_offered', 'Weight_in_gms']

col_cat = ['Warehouse_block', 'Mode_of_Shipment', 'Product_importance', 'Gender']
col_y = ['Reached.on.Time_Y.N']

<br>

데이터 모형 구축

In [40]:
from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(X_train[col_num+col_cat], y_train[col_y].values.squeeze(), test_size=0.3, stratify=y_train[col_y].values.squeeze())

In [41]:
X_tr.head(3)

,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Warehouse_block,Mode_of_Shipment,Product_importance,Gender
6232,5,2,260,5,9,1809,D,Ship,low,M
1393,2,2,221,2,3,4500,D,Ship,medium,F
2578,4,2,273,5,6,2126,B,Flight,medium,F

수치형 변수에 대한 스케일링을 진행해보자.

이때 데이터 누수를 방지하기 위해 scaler의 fitting은 학습용 데이터 X_tr 만 사용하고, 

X_tr, X_val, X_test 세 데이터 모두에 적용하여 스케일링 시켜야 하는 것에 주의해야 한다.

In [42]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_tr[col_num])

X_tr[col_num] = scaler.transform(X_tr[col_num])
X_val[col_num] = scaler.transform(X_val[col_num])
X_test[col_num] = scaler.transform(X_test[col_num])

In [43]:
X_tr[col_num].head()

,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms
6232,0.837138,-0.700040,1.044371,0.949854,-0.259672,-1.115120
1393,-1.817375,-0.700040,0.238133,-1.024366,-0.634882,0.528894
2578,-0.047700,-0.700040,1.313118,0.949854,-0.447277,-0.921455
3610,-0.932537,0.008126,0.217460,-0.366293,-0.447277,0.998700
5196,-0.932537,-1.408206,0.796298,-0.366293,-0.384742,1.193587

그 다음 범주형 변수에 대해 인코딩을 수행해보자.

In [44]:
from sklearn.preprocessing import LabelEncoder

X = pd.concat([X_train[col_cat], X_test[col_cat]])

for col in col_cat:
    le = LabelEncoder()
    le.fit(X[col])
    
    X_tr[col] = le.transform(X_tr[col])
    X_val[col] = le.transform(X_val[col])
    X_test[col] = le.transform(X_test[col])

전처리가 완료된 학습 데이터로 모델을 학습시키도록 하자.

In [45]:
# 1) randomforest

from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(X_tr, y_tr)

from xgboost import XGBClassifier

model_xgb = XGBClassifier()
model_xgb.fit(X_tr, y_tr)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

<br>

데이터 모형 평가

각 모델로 검증 데이터 X_val을 사용하여 예측값을 생성한다.

평가지표가 roc_auc_score이므로 predict_proba로 예측 확률을 구해야 하는 것에 유의한다.

predict_proba 결과는 각 행렬로 [0일 확률, 1일 확률]로 출력된다. 따라서 뒤에 `[:, 1]`을 붙여 1을 예측하는 확률을 선택한다.

In [46]:
y_val_pred_rf = model_rf.predict_proba(X_val)[:, 1]
y_val_pred_xgb = model_xgb.predict_proba(X_val)[:, 1]

In [47]:
from sklearn.metrics import roc_auc_score

score_rf = roc_auc_score(y_val, y_val_pred_rf)
score_xgb = roc_auc_score(y_val, y_val_pred_xgb)

print(score_rf)
print(score_xgb)

0.7350170052881783
0.7328717309347819

In [57]:
model_xgb1 = XGBClassifier(n_estimators=50, max_depth=5)
model_xgb1.fit(X_tr, y_tr)

model_xgb2 = XGBClassifier(n_estimators=50, max_depth=10)
model_xgb2.fit(X_tr, y_tr)

model_xgb3 = XGBClassifier(n_estimators=100, max_depth=5)
model_xgb3.fit(X_tr, y_tr)

model_xgb4 = XGBClassifier(n_estimators=100, max_depth=10)
model_xgb4.fit(X_tr, y_tr)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=10, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [58]:
y_pred_proba_xgb1 = model_xgb1.predict_proba(X_val)
print(roc_auc_score(y_val, y_pred_proba_xgb1[:, 1]))

y_pred_proba_xgb2 = model_xgb2.predict_proba(X_val)
print(roc_auc_score(y_val, y_pred_proba_xgb2[:, 1]))

y_pred_proba_xgb3 = model_xgb3.predict_proba(X_val)
print(roc_auc_score(y_val, y_pred_proba_xgb3[:, 1]))

y_pred_proba_xgb4 = model_xgb4.predict_proba(X_val)
print(roc_auc_score(y_val, y_pred_proba_xgb4[:, 1]))

0.7293508729522622
0.7350970488827823
0.7275422057682277
0.7351914049082096

In [59]:
pred = model_xgb4.predict_proba(X_test[col_num+col_cat])[:, 1]

result = pd.DataFrame({
    'ID': X_test.ID,
    'pred': pred
})

print(result)

         ID      pred
0      7007  0.168016
1      9793  0.810503
2      6593  0.566123
3     10527  0.420425
4      6914  0.028532
...     ...       ...
4395   3142  0.316946
4396   6948  0.207476
4397   7531  0.523043
4398   8398  0.355699
4399  10252  0.603660

[4400 rows x 2 columns]

In [60]:
result.to_csv('../../yemoonsaBigdata/res/003000000.csv', index=False)