<br>

### 작업형 제1유형

1번 문제

In [1]:
# 1)

import pandas as pd

lst = [2, 3, 3.2, 5, 7.5, 10, 11.8, 12, 23, 25, 31.5, 34]

q1, q3 = pd.Series(lst).quantile([0.25, 0.75])
print(q1, q3)

4.55 23.5

In [2]:
print(abs(q1 - q3))

18.95

In [3]:
int(abs(q1 - q3))

18

<br>

2번 문제

In [4]:
df = pd.read_csv('../../yemoonsaBigdata/datasets/Part3/402_facebook.csv')

df.head(3)

,status_id,status_type,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,246675545449582_1649696485147474,video,529,512,262,432,92,3,1,1,0
1,246675545449582_1649426988507757,photo,150,0,0,150,0,0,0,0,0
2,246675545449582_1648730588577397,video,227,236,57,204,21,1,1,0,0

In [5]:
df['pos_prop'] = (df['num_loves'] + df['num_wows']) / df['num_reactions']

df['pos_prop'].describe()

count    6929.000000
mean        0.049604
std         0.101727
min         0.000000
25%         0.000000
50%         0.000000
75%         0.040000
max         1.000000
Name: pos_prop, dtype: float64

<br>

문제의 조건에 해당하는 데이터를 추출해보자.

유형을 나타내는 `status_type` 컬럼에 어떤 값들이 존재하는지 확인해보기 위해 unique를 써보자.

비디오 유형은 `status_type` 컬럼 값이 video임을 알 수 있다.

In [6]:
print(df['status_type'].unique())

['video' 'photo' 'link' 'status']

In [7]:
rst_df = df[(df['pos_prop'] > 0.4) & (df['pos_prop'] < 0.5) & (df['status_type'] == 'video')]
rst_df

,status_id,status_type,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,pos_prop
3116,134115277150304_226952507866580,video,255,926,181,142,108,0,5,0,0,0.423529
4624,725980084255106_838993039620476,video,1397,771,695,765,485,139,4,1,3,0.446671
4776,614855718638584_852682288189258,video,259,695,263,151,106,0,2,0,0,0.409266
4793,614855718638584_851581351632685,video,146,303,221,73,69,2,1,0,1,0.486301
4812,614855718638584_850456998411787,video,184,530,224,101,80,0,1,1,1,0.434783
...,...,...,...,...,...,...,...,...,...,...,...,...
6308,1050855161656896_1633473383395068,video,416,5352,580,204,194,3,13,1,1,0.473558
6311,1050855161656896_1630620870346986,video,370,6316,633,182,166,2,17,3,0,0.454054
6335,1050855161656896_1616943501714723,video,236,5237,526,138,97,1,0,0,0,0.415254
6371,1050855161656896_1598796110196129,video,239,2574,419,140,95,1,2,1,0,0.401674
6701,1050855161656896_1422444124497996,video,517,5514,388,243,220,8,43,3,0,0.441006

In [8]:
len(rst_df)

90

<br>

3번 문제

In [9]:
df = pd.read_csv('../../yemoonsaBigdata/datasets/Part3/403_netflix.csv')

df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [10]:
df['date_added'].head()

0    September 25, 2021
1    September 24, 2021
2    September 24, 2021
3    September 24, 2021
4    September 24, 2021
Name: date_added, dtype: object

<br>

data_added 컬럼이 특정 값 ('January', '2018')을 포함하고 있는지 여부는 `str.contains` 함수로 구할 수 있다.

In [11]:
rst_df = df[df['date_added'].str.contains('January') & df['date_added'].str.contains('2018')]
print(len(rst_df))

129

<br>

이어서 rst_df 데이터에서 영국이 단독 제작한 콘텐츠를 추출한다.

국가를 나타내는 country 컬럼을 unique 함수로 출력해본다.

In [12]:
rst_df['country'].unique()

array(['Germany', 'United States', 'United Kingdom', 'Spain', 'Singapore',
       'Mexico', 'Argentina', 'Bulgaria, United States', 'South Korea',
       'Colombia', nan, 'United States, New Zealand', 'Japan',
       'Canada, United States', 'Soviet Union, India', 'India',
       'Australia, United Arab Emirates', 'Czech Republic, United States',
       'United Kingdom, United States', 'France',
       'United States, United Kingdom, France',
       'United States, India, Bangladesh', 'Germany, Belgium',
       'Canada, France, Italy, Morocco, United States', 'Nigeria',
       'United States, Canada', 'United States, Italy',
       'China, Hong Kong',
       'United Kingdom, United States, Dominican Republic',
       'India, France',
       'Denmark, Germany, Belgium, United Kingdom, France',
       'Brazil, India, China, United States', 'France, Belgium',
       'New Zealand', 'Ireland, Canada, United States, United Kingdom',
       'Thailand'], dtype=object)

In [13]:
rst_df = rst_df[rst_df['country'] == 'United Kingdom']
print(len(rst_df))

6

In [14]:
len(rst_df)

6

In [15]:
rst_df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5057,s5058,TV Show,Retribution,NaN,"Georgina Campbell, Joe Dempsie, Adrian Edmonds...",United Kingdom,"January 30, 2018",2016,TV-MA,1 Season,"British TV Shows, Crime TV Shows, Internationa...",A dark web of secrets and lies emerges when a ...
5074,s5075,Movie,Bad Day for the Cut,Chris Baugh,"Nigel O'Neill, Susan Lynch, Józef Pawlowski, S...",United Kingdom,"January 18, 2018",2017,TV-MA,99 min,"Independent Movies, International Movies, Thri...","A mild-mannered, middle-aged Irish farmer devo..."
5097,s5098,TV Show,Lovesick,NaN,"Johnny Flynn, Antonia Thomas, Daniel Ings, Han...",United Kingdom,"January 1, 2018",2018,TV-MA,3 Seasons,"British TV Shows, International TV Shows, Roma...","In his quest for true love, Dylan found chlamy..."
7398,s7399,Movie,Manolo: The Boy Who Made Shoes for Lizards,Michael Roberts,"Manolo Blahnik, Anna Wintour, André Leon Talle...",United Kingdom,"January 15, 2018",2017,TV-MA,89 min,"Documentaries, International Movies",As legendary shoe designer Manolo Blahnik spea...
8357,s8358,TV Show,The Inbetweeners,NaN,"Simon Bird, James Buckley, Blake Harrison, Joe...",United Kingdom,"January 1, 2018",2010,TV-MA,3 Seasons,"British TV Shows, TV Comedies",This rib-tickling series follows four English ...
8619,s8620,Movie,Treasures from the Wreck of the Unbelievable,Sam Hobkinson,NaN,United Kingdom,"January 1, 2018",2017,TV-G,82 min,"Documentaries, Dramas, International Movies",This cinematic journey into the waters off Eas...

<br>

### 작업형 제2유형

In [16]:
import numpy as np
import pandas as pd

X_train = pd.read_csv('../../yemoonsaBigdata/datasets/Part3/404_x_train.csv')
X_test = pd.read_csv('../../yemoonsaBigdata/datasets/Part3/404_X_test.csv')
y_train = pd.read_csv('../../yemoonsaBigdata/datasets/Part3/404_y_train.csv')

<br>

데이터 전처리

In [17]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6718 entries, 0 to 6717
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6718 non-null   int64
 1   Gender           6718 non-null   object
 2   Ever_Married     6718 non-null   object
 3   Age              6718 non-null   int64
 4   Graduated        6718 non-null   object
 5   Profession       6718 non-null   object
 6   Work_Experience  6718 non-null   float64
 7   Spending_Score   6718 non-null   object
 8   Family_Size      6718 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 472.5+ KB

앞에서 탐색한 결과를 바탕으로 변수들을 불필요한 변수(col_del), 수치형 변수(col_num), 범주형 변수(col_cat), 종속 변수(col_y)로 나눈다.

변수를 종류별로나누어 리스트에 저장해둠으로써 코딩 시 컬럼을 빠뜨리거나 잘못 기입하는 실수를 줄일 수 있고 데이터 전처리 및 모델링 시 편리하게 사용할 수 있다.

In [18]:
col_del = ['ID']
col_num = ['Age', 'Work_Experience', 'Family_Size']
col_cat = ['Gender', 'Ever_Married', 'Graduated', 'Profession', 'Spending_Score']
col_y = ['Segmentation']

<br>

범주형 변수에 대해 데이터 인코딩을 진행한다.

sklearn의 LabelEncoder 함수를 사용하여 라벨 인코딩을 수행하였다.

데이터 인코딩은 데이터 누수의 우려가 없고, 각 컬럼에 나타날 수 있는 모든 값들을 나타내야 한다.

따라서 X_train, X_test를 합친 X 프레임워크를 사용하여 인코더를 fitting 시킨다.

또한 LabelEncoder는 컬럼 전체에 적용하지 못하고 각 컬럼별로 적용해야 한다는 점을 주의해야 한다.

In [19]:
from sklearn.preprocessing import LabelEncoder

X = pd.concat([X_train[col_cat], X_test[col_cat]])

for col in col_cat:
    label_encoder = LabelEncoder()
    label_encoder.fit(X[col])
    
    X_train[col] = label_encoder.transform(X_train[col])
    X_test[col] = label_encoder.transform(X_test[col])
    
y_label_encoder = LabelEncoder()
y_label_encoder.fit(y_train[col_y[0]])

y_train[col_y[0]] = y_label_encoder.transform(y_train[col_y[0]])

<br>

데이터 모형 구축

sklearn 패키지의 train_test_split 함수로 X_train, y_train을 7:3으로 분할하여 각각 학습 데이터, 검증 데이터로 사용한다. X_train[col_num+col_cat], y_train[col_y]로 사용할 변수만 지정하여 함수 안에 넣었다. 또한 분류 모델을 만들어야 하므로 stratify 옵션으로 학습, 검증용 데이터의 y 비율이 같도록 하였다.

In [20]:
from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(X_train[col_num+col_cat], y_train[col_y].values.squeeze(), test_size=0.3, stratify=y_train[col_y].values.squeeze())

<br>

다음으로 수치형 변수에 대한 Scaling을 진행한다.

In [21]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_tr[col_num])

X_tr[col_num] = scaler.transform(X_tr[col_num])
X_val[col_num] = scaler.transform(X_val[col_num])
X_test[col_num] = scaler.transform(X_test[col_num])

<br>

전처리가 완료도니 학습 데이터 X_tr, y_tr로 default 파라미터를 사용하는 RandomForest 모형과 XGBoost 모형으로 학습을 시켜보았다.

In [22]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(X_tr, y_tr)

RandomForestClassifier()

In [23]:
y_tr

array([1, 3, 2, ..., 3, 3, 0])

In [24]:
from xgboost import XGBClassifier


model_xgb = XGBClassifier()
model_xgb.fit(X_tr, y_tr)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              objective='multi:softprob', predictor=None, ...)

<br>

데이터 모형 평가

각 모델로 검증 데이터 X_val을 사용해 예측값을 생성한다.

In [25]:
y_val_pred_rf = model_rf.predict(X_val)
y_val_pred_xgb = model_xgb.predict(X_val)

In [27]:
from sklearn.metrics import f1_score

score_rf = f1_score(y_val, y_val_pred_rf, average='macro')
score_xgb = f1_score(y_val, y_val_pred_xgb, average='macro')

print(score_rf, score_xgb)

0.4741229035765744 0.49808708233697563

<br>

성능 개선을 위해 XGBoost 모형에서 하이퍼 파라미터를 바꿔 몇 개의 모델을 더 만들어 보았다.

검증 성능은 0.51 ~ 0.53 사이로 큰 차이 없게 나타난다.

후보 모형 중 성능이 두번째로 좋고 과대적합되지 않은 xgb 모형을 최종 모형으로 선택한다.

In [28]:
from xgboost import XGBClassifier


model_xgb1 = XGBClassifier(n_estimators=50, max_depth=5)
model_xgb1.fit(X_tr, y_tr)

model_xgb2 = XGBClassifier(n_estimators=50, max_depth=10)
model_xgb2.fit(X_tr, y_tr)

model_xgb3 = XGBClassifier(n_estimators=100, max_depth=5)
model_xgb3.fit(X_tr, y_tr)

model_xgb4 = XGBClassifier(n_estimators=100, max_depth=10)
model_xgb4.fit(X_tr, y_tr)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=10, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              objective='multi:softprob', predictor=None, ...)

In [31]:

y_val_pred_xgb1 = model_xgb1.predict(X_val)
score_xgb1 = f1_score(y_val, y_val_pred_xgb1, average='macro')
print(score_xgb1)

y_val_pred_xgb2 = model_xgb2.predict(X_val)
score_xgb2 = f1_score(y_val, y_val_pred_xgb2, average='macro')
print(score_xgb2)

y_val_pred_xgb3 = model_xgb3.predict(X_val)
score_xgb3 = f1_score(y_val, y_val_pred_xgb3, average='macro')
print(score_xgb3)

y_val_pred_xgb4 = model_xgb2.predict(X_val)
score_xgb4 = f1_score(y_val, y_val_pred_xgb4, average='macro')
print(score_xgb4)

0.5135387337112758
0.47920759129482937
0.5053583962011492
0.47920759129482937

In [34]:
pred = model_xgb1.predict(X_test[col_num + col_cat])
result = pd.DataFrame({
    'ID': X_test.ID,
    'Segmentation': y_label_encoder.inverse_transform(pred)
})

result

          ID Segmentation
0     458989            A
1     458994            B
2     459000            C
3     459003            C
4     459005            C
...      ...          ...
2173  467950            A
2174  467954            D
2175  467958            A
2176  467961            C
2177  467968            D

[2178 rows x 2 columns]

In [35]:
result.to_csv('../../yemoonsaBigdata/res/003000000.csv', index=False)