### 작업형 제1유형

주어진 trash bag 데이터 세트는 지역별 종량제 봉투 가격을 나타낸다.

가격 컬럼은 각 행의 조건을 만족하는 해당 용량의 종량제 봉투가 존재하면 가격을 값으로, 존재하지 않으면 0을 값으로 갖는다.

이때 용도가 '음식물 쓰레기'이고 사용 대상이 '가정용'인 2L 봉투 가격의 평균을 소수점을 버린 후 정수로 출력하세요.

In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('../../yemoonsaBigdata/datasets/Part3/501_trash_bag.csv', encoding='cp949')

In [3]:
df_filtered = df[(df['용도'] == '음식물쓰레기') & (df['사용대상'] == '가정용')]
print(df_filtered.head())

    시도명 시군구명    종류 처리방식      용도 사용대상  1L가격  1.5L가격  2L가격  2.5L가격  ...  5L가격
3   강원도  고성군  규격봉투  소각용  음식물쓰레기  가정용     0       0    60       0  ...   120  \
8   강원도  삼척시  규격봉투  매립용  음식물쓰레기  가정용     0       0     0       0  ...    80
9   강원도  양구군  규격봉투  매립용  음식물쓰레기  가정용     0       0    50       0  ...   120
12  강원도  양양군  규격봉투   기타  음식물쓰레기  가정용     0       0    40       0  ...    90
16  강원도  영월군  규격봉투  매립용  음식물쓰레기  가정용     0       0     0       0  ...   110

    10L가격  20L가격  30L가격  50L가격  60L가격  75L가격  100L가격  120L가격  125L가격
3       0      0      0      0      0      0       0       0       0
8     150    290      0      0      0      0       0       0       0
9     210    400      0      0      0      0       0       0       0
12    170    340      0      0      0      0       0       0       0
16    180    350      0    900      0   1350       0       0       0

[5 rows x 21 columns]

<br>

문제에서 특정 용량의 봉투가 존재하지 않으면 해당하는 가격이 0 값을 갖는다고 하였으므로

2L 가격이 0이 아닌 데이터로 한번 더 추출해야한다.

문제에서 데이터 추출 조건을 직접적으로 알려준 것이 아니라서 빠뜨리기 쉬운 조건이다.

문제를 꼼꼼하게 읽고 대응하는 조건을 파악해낼 수 있어야 한다.

<br>

In [4]:
result_df = df_filtered[df_filtered['2L가격'] != 0]

In [5]:
result = int(result_df['2L가격'].mean())
result

119

<br>

BMI 지수는 몸무게(kg)를 키(m)의 제곱으로 나누어 구하며, BMI 값에 따라 비만도 분류는 다음과 같다.

(교재 참고)

이때 주어진 bmi 데이터 세트에서 비만도가 정상에 속하는 인원 수와 과체중에 속하는 인원 수의 차이를 정수로 출력하세요.

<br>

In [6]:
df = pd.read_csv('../../yemoonsaBigdata/datasets/Part3/502_bmi.csv')

df['BMI'] = df['Weight'] / ((df['Height'] / 100) ** 2) 

df_normal = df[(df['BMI'] >= 18.5) & (df['BMI'] < 23)]
df_over = df[(df['BMI'] >= 23) & (df['BMI'] < 25)]

abs(len(df_normal) - len(df_over))

28

<br>

주어진 students 데이터 세트는 각 학교의 학년별 총 전입학생, 총 전출학생, 전체 학생 수를 나타낸다.

순 전입학생 수는 총 전입학생 수에서 총 전출학생 수를 빼서 구할 수 있다.

순 전입학생이 가장 많은 학교의 전체 학생 수를 구하시오.

<br>

In [11]:
df = pd.read_csv('../../yemoonsaBigdata/datasets/Part3/503_students.csv', encoding='cp949')

df['순 전입학생 수'] = df['총 전입학생'] - df['총 전출학생']

In [14]:
result_df = df.groupby('학교')[['순 전입학생 수', '전체 학생 수']].sum()
result_df

    순 전입학생 수  전체 학생 수
학교
A         18      566
B         13      588
C         -9      528
D          7      548
E         14      603
F          1      481
G         10      618
H         -1      602

In [16]:
result = result_df.loc[result_df['순 전입학생 수'] == result_df['순 전입학생 수'].max(), '전체 학생 수'].values[0]
result

566

<br><br>


### 작업형 제2유형

다음은 Used car 데이터 세트이다.

주어진 훈련 데이터를 활용하여 중고차의 판매 가격을 예측하고 해당 예측 결과를 csv 파일로 제출하시오.

* 결과 제출 양식 : 제출한 예측값의 rsme 평가지표 값을 통해 영역별 배점에 따라 최종 점수가 반영될 예정

In [2]:
import numpy as np
import pandas as pd

X_train = pd.read_csv('../../yemoonsaBigdata/datasets/Part3/504_x_train.csv')
y_train = pd.read_csv('../../yemoonsaBigdata/datasets/Part3/504_y_train.csv')

X_test = pd.read_csv('../../yemoonsaBigdata/datasets/Part3/504_x_test.csv')

<br>

데이터 전처리

In [3]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7468 entries, 0 to 7467
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            7468 non-null   int64
 1   model         7468 non-null   object
 2   year          7468 non-null   int64
 3   transmission  7468 non-null   object
 4   mileage       7468 non-null   int64
 5   fuelType      7468 non-null   object
 6   tax           7468 non-null   int64
 7   mpg           7468 non-null   float64
 8   engineSize    7468 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 525.2+ KB

각 column에 결측치가 얼마나 존재하는지 isnull 함수를 활용해 구해보자.

In [4]:
X_train.isnull().sum()

id              0
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [6]:
y_train.isnull().sum()

id       0
price    0
dtype: int64

In [5]:
X_test.isnull().sum()

id              0
model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

<br>

앞에서 데이터 탐색한 겨로가를 바탕으로 변수들을 불필요한 변수(col_del),   
수치형 변수(col_num), 범주형 변수(col_cat), 종속 변수(col_y)로 나눈다

In [9]:
col_del = ['id']
col_num = ['year', 'mileage', 'tax', 'mpg', 'engineSize']
col_cat = ['model', 'transmission', 'fuelType']
col_y = ['price']

<br>

데이터 모형 구축

sklearn 패키지의 `train_test_split` 함수로 X_train, y_train을 7:3으로 분할하여 각각 학습 데이터, 검증 데이터로 사용한다.

회귀 모델을 만들어야 하므로 stratify 옵션을 사용하지 않는다.

In [10]:
from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(X_train[col_num + col_cat], y_train[col_y].values.squeeze())

<br>

다음으로는 데이터 스케일링을 진행한다.

sklearn 패키지의 `StandardScaler` 함수를 사용하여 데이터 표준화(Standardization)를 수행하였다.

이때 데이터 누수를 방지하기 위해 scaler의 fitting은 학습용 데이터 X_tr만 사용하고,

X_tr, X_val, X_test 세 데이터 모두에 적용하여 스케일링해야 하는 것에 주의해야 한다.

In [11]:
from sklearn.preprocessing import LabelEncoder

X = pd.concat([X_train[col_cat], X_test[col_cat]])

for col in col_cat:
    label_encoder = LabelEncoder()
    label_encoder.fit(X[col])
    
    X_tr[col] = label_encoder.transform(X_tr[col])
    X_val[col] = label_encoder.transform(X_val[col])
    X_test[col] = label_encoder.transform(X_test[col])

In [12]:
X[col_cat].head()

  model transmission fuelType
0    A1    Automatic   Petrol
1   RS4    Semi-Auto   Petrol
2    A8    Semi-Auto   Diesel
3    Q5    Semi-Auto   Diesel
4    A5    Semi-Auto   Diesel

<br>

전처리가 완료된 학습 데이터 X_tr, y_tr로 default 파라미터를 사용하는 RandomForest 모형과 XGBoost 모형으로 학습시켜보자.

In [13]:
# 1) RandomForest
from sklearn.ensemble import RandomForestRegressor

model_rf = RandomForestRegressor()
model_rf.fit(X_tr, y_tr)

# 2) XGBoost

from xgboost import XGBRegressor

model_xgb = XGBRegressor()
model_xgb.fit(X_tr, y_tr)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

<br>

데이터 모형 평가

각 모델로 검증 데이터 X_val을 사용하여 예측값을 생성한다.

In [14]:
y_val_pred_rf = model_rf.predict(X_val)
y_val_pred_xgb = model_xgb.predict(X_val)

In [15]:
from sklearn.metrics import mean_squared_error
import numpy as np

def cal_rmse(actual, pred):
    return np.sqrt(mean_squared_error(actual, pred))


score_rf = cal_rmse(y_val, y_val_pred_rf)
score_xgb = cal_rmse(y_val, y_val_pred_xgb)

print(score_rf, score_xgb)

2520.637238641096 2376.9702076806125

<br>

성능 개선을 위해 XGBoost 모형에서 하이퍼 파라미터를 바꿔 몇 개의 모델을 더 만들어 보았다.

후보 모델 중에서 검증 성능이 낮은 축에 속하고 과대적합이 심하지 않은 modelXGB4 모형을 최종 모형으로 선택하였다.

과대적합 문제를 조금 더 해소하고 싶다면 gamma를 높이거나, subsample 비율을 설정하는 등 추가로 다른 하이퍼 파라미터 튜닝을 해볼 수 있다.

In [16]:
model_xgb2 = XGBRegressor(objective='reg:squarederror', n_estimators=50, max_depth=5)
model_xgb3 = XGBRegressor(objective='reg:squarederror', n_estimators=50, max_depth=10)

model_xgb4 = XGBRegressor(objective='reg:squarederror', n_estimators=100, max_depth=5)
model_xgb5 = XGBRegressor(objective='reg:squarederror', n_estimators=100, max_depth=10)

model_xgb2.fit(X_tr, y_tr)
model_xgb3.fit(X_tr, y_tr)
model_xgb4.fit(X_tr, y_tr)
model_xgb5.fit(X_tr, y_tr)

y_val_pred_xgb2 = model_xgb2.predict(X_val)
y_val_pred_xgb3 = model_xgb3.predict(X_val)
y_val_pred_xgb4 = model_xgb4.predict(X_val)
y_val_pred_xgb5 = model_xgb5.predict(X_val)

score_xgb2 = cal_rmse(y_val, y_val_pred_xgb2)
score_xgb3 = cal_rmse(y_val, y_val_pred_xgb3)
score_xgb4 = cal_rmse(y_val, y_val_pred_xgb4)
score_xgb5 = cal_rmse(y_val, y_val_pred_xgb5)

In [17]:
print(score_xgb2, score_xgb3, score_xgb4, score_xgb5)

2448.228407734705 2597.224771795559 2387.347475594081 2636.698184631125

In [19]:
pred = model_xgb4.predict(X_test[col_num+col_cat])

result = pd.DataFrame({
    'id': X_test.id, 'price': pred
})

In [21]:
result

         id         price
0      7469  32489.478516
1      7470  17900.078125
2      7471  35089.300781
3      7472  16145.665039
4      7473  15117.312500
...     ...           ...
3195  10664  15414.978516
3196  10665  11310.324219
3197  10666  19298.880859
3198  10667  24410.736328
3199  10668  17978.320312

[3200 rows x 2 columns]

In [22]:
result.to_csv('003000000.csv', index=False)