### 작업형 제1유형

주어진 trash bag 데이터 세트는 지역별 종량제 봉투 가격을 나타낸다.

가격 컬럼은 각 행의 조건을 만족하는 해당 용량의 종량제 봉투가 존재하면 가격을 값으로, 존재하지 않으면 0을 값으로 갖는다.

이때 용도가 '음식물 쓰레기'이고 사용 대상이 '가정용'인 2L 봉투 가격의 평균을 소수점을 버린 후 정수로 출력하세요.

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('../yemoonsaBigdata/datasets/Part3/501_trash_bag.csv', encoding='cp949')

In [2]:
df.head(3)

,시도명,시군구명,종류,처리방식,용도,사용대상,1L가격,1.5L가격,2L가격,2.5L가격,...,5L가격,10L가격,20L가격,30L가격,50L가격,60L가격,75L가격,100L가격,120L가격,125L가격
0,강원도,강릉시,규격봉투,매립용,생활쓰레기,기타,0,0,0,0,...,130,270,520,0,1250,0,1880,0,0,0
1,강원도,강릉시,재사용규격봉투,매립용,생활쓰레기,기타,0,0,0,0,...,0,270,520,0,0,0,0,0,0,0
2,강원도,고성군,규격봉투,소각용,생활쓰레기,가정용,0,0,0,0,...,140,260,500,0,1220,0,0,2410,0,0

In [3]:
int(df[(df['용도'] == "음식물쓰레기") & (df['사용대상'] == "가정용")]['2L가격'].mean())

61

<br>

BMI 지수는 몸무게(kg)를 키(m)의 제곱으로 나누어 구하며, BMI 값에 따라 비만도 분류는 다음과 같다.

(교재 참고)

이때 주어진 bmi 데이터 세트에서 비만도가 정상에 속하는 인원 수와 과체중에 속하는 인원 수의 차이를 정수로 출력하세요.

<br>

In [4]:
df = pd.read_csv('../yemoonsaBigdata/datasets/Part3/502_bmi.csv')

df.head(3)

   Gender  Height  Weight
0    Male     174      96
1    Male     189      87
2  Female     185     110

In [5]:
df['BMI'] = df['Weight'] / ((df['Height'] / 100) ** 2) 
df.head(3)

   Gender  Height  Weight        BMI
0    Male     174      96  31.708284
1    Male     189      87  24.355421
2  Female     185     110  32.140248

In [6]:
df['BMI'].describe()

count    500.000000
mean      37.765284
std       13.965620
min       12.753801
25%       27.169353
50%       36.956941
75%       46.390467
max       78.853402
Name: BMI, dtype: float64

In [7]:
df_normal = df[(df['BMI'] >= 18.5) & (df['BMI'] < 23)]
df_over = df[(df['BMI'] >= 23) & (df['BMI'] < 25)]

In [8]:
abs(len(df_normal) - len(df_over))

28

<br>

주어진 students 데이터 세트는 각 학교의 학년별 총 전입학생, 총 전출학생, 전체 학생 수를 나타낸다.

순 전입학생 수는 총 전입학생 수에서 총 전출학생 수를 빼서 구할 수 있다.

순 전입학생이 가장 많은 학교의 전체 학생 수를 구하시오.

<br>

In [9]:
df = pd.read_csv('../yemoonsaBigdata/datasets/Part3/503_students.csv', encoding='cp949')

df.head(3)

  학교  학년  총 전입학생  총 전출학생  전체 학생 수
0  A   1       9       1      222
1  A   2      13       4      148
2  A   3       8       7      196

In [10]:
df['순 전입학생'] = abs(df['총 전입학생'] - df['총 전출학생'])
df.head(3)

  학교  학년  총 전입학생  총 전출학생  전체 학생 수  순 전입학생
0  A   1       9       1      222       8
1  A   2      13       4      148       9
2  A   3       8       7      196       1

In [11]:
df.groupby('학교')['순 전입학생'].sum()

학교
A    18
B    13
C    13
D    11
E    14
F    11
G    10
H     9
Name: 순 전입학생, dtype: int64

In [12]:
df[df['학교'] == 'A']['전체 학생 수'].sum()

566

<br><br>


### 작업형 제2유형

다음은 Used car 데이터 세트이다.

주어진 훈련 데이터를 활용하여 중고차의 판매 가격을 예측하고 해당 예측 결과를 csv 파일로 제출하시오.

* 결과 제출 양식 : 제출한 예측값의 rsme 평가지표 값을 통해 영역별 배점에 따라 최종 점수가 반영될 예정

In [13]:
import numpy as np
import pandas as pd

X_train = pd.read_csv('../yemoonsaBigdata/datasets/Part3/504_x_train.csv')
y_train = pd.read_csv('../yemoonsaBigdata/datasets/Part3/504_y_train.csv')

X_test = pd.read_csv('../yemoonsaBigdata/datasets/Part3/504_x_test.csv')

In [14]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7468 entries, 0 to 7467
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            7468 non-null   int64
 1   model         7468 non-null   object
 2   year          7468 non-null   int64
 3   transmission  7468 non-null   object
 4   mileage       7468 non-null   int64
 5   fuelType      7468 non-null   object
 6   tax           7468 non-null   int64
 7   mpg           7468 non-null   float64
 8   engineSize    7468 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 525.2+ KB

In [15]:
X_train.describe()

,id,year,mileage,tax,mpg,engineSize
count,7468.000000,7468.000000,7468.000000,7468.000000,7468.000000,7468.000000
mean,3734.500000,2017.084762,24978.337306,125.513524,50.980704,1.923741
std,2155.970238,2.143985,23408.243740,66.791388,12.781446,0.594344
min,1.000000,1998.000000,1.000000,0.000000,19.300000,0.000000
25%,1867.750000,2016.000000,6000.000000,125.000000,40.900000,1.500000
50%,3734.500000,2017.000000,19276.500000,145.000000,50.400000,2.000000
75%,5601.250000,2019.000000,36722.750000,145.000000,58.900000,2.000000
max,7468.000000,2020.000000,168017.000000,580.000000,188.300000,6.300000

In [16]:
# id는 사용할 필요가 없음

X_train.drop(columns='id', inplace=True)
X_test.drop(columns='id', inplace=True)

X_train.reset_index(drop=True, inplace=True)
X_test.reset_index(drop=True, inplace=True)

In [17]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7468 entries, 0 to 7467
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         7468 non-null   object
 1   year          7468 non-null   int64
 2   transmission  7468 non-null   object
 3   mileage       7468 non-null   int64
 4   fuelType      7468 non-null   object
 5   tax           7468 non-null   int64
 6   mpg           7468 non-null   float64
 7   engineSize    7468 non-null   float64
dtypes: float64(2), int64(3), object(3)
memory usage: 466.9+ KB

In [18]:
X_train.head(5)

  model  year transmission  mileage fuelType  tax   mpg  engineSize
0    A1  2019    Automatic     3500   Petrol  145  40.9         2.0
1   RS4  2020    Semi-Auto     2500   Petrol  145  28.8         2.9
2    A8  2019    Semi-Auto      500   Diesel  145  40.4         3.0
3    Q5  2019    Semi-Auto     5089   Diesel  150  38.2         2.0
4    A5  2020    Semi-Auto     4951   Diesel  145  51.4         2.0

In [19]:
X_train['engineSize'].quantile([q/100 for q in range(70, 101, 5)])

0.70    2.0
0.75    2.0
0.80    2.0
0.85    2.0
0.90    3.0
0.95    3.0
1.00    6.3
Name: engineSize, dtype: float64

In [20]:
X_train['engineSize_upper_3'] = np.where(X_train['engineSize'] < 3, 0, 1)
X_test['engineSize_upper_3'] = np.where(X_test['engineSize'] < 3, 0, 1)

X_train.head(3)

,model,year,transmission,mileage,fuelType,tax,mpg,engineSize,engineSize_upper_3
0,A1,2019,Automatic,3500,Petrol,145,40.9,2.0,0
1,RS4,2020,Semi-Auto,2500,Petrol,145,28.8,2.9,0
2,A8,2019,Semi-Auto,500,Diesel,145,40.4,3.0,1

In [21]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7468 entries, 0 to 7467
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   model               7468 non-null   object
 1   year                7468 non-null   int64
 2   transmission        7468 non-null   object
 3   mileage             7468 non-null   int64
 4   fuelType            7468 non-null   object
 5   tax                 7468 non-null   int64
 6   mpg                 7468 non-null   float64
 7   engineSize          7468 non-null   float64
 8   engineSize_upper_3  7468 non-null   int64
dtypes: float64(2), int64(4), object(3)
memory usage: 525.2+ KB

In [25]:
columns_num = ['mpg', 'engineSize']
columns_cat = ['model', 'year', 'transmission', 'mileage', 'fuelType', 'tax', 'engineSize_upper_3']
columns_y = ['target']


# label encoding 진행
from sklearn.preprocessing import LabelEncoder

X_train[columns_cat] = X_train[columns_cat].astype(str)
X_test[columns_cat] = X_test[columns_cat].astype(str)

X = pd.concat([X_train, X_test], axis=0)

for col in columns_cat:
    label_encoder = LabelEncoder()    
    label_encoder.fit(X[col])
    
    X_train[col] = label_encoder.transform(X_train[col])
    X_test[col] = label_encoder.transform(X_test[col])

In [27]:
y_train.drop(columns='id', inplace=True)
y_train.head(3)

   price
0  21350
1  69691
2  42950

In [28]:
# train 데이터와 validation 데이터로 분리

from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train)

In [29]:
# 수치형 데이터에 대해 Scaling 진행

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_tr[columns_num])

X_tr[columns_num] = scaler.transform(X_tr[columns_num])
X_val[columns_num] = scaler.transform(X_val[columns_num])
X_test[columns_num] = scaler.transform(X_test[columns_num])

In [32]:
# 모델 학습

from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

model_rb = RandomForestRegressor()
model_rb.fit(X_tr, y_tr.values.squeeze())

model_xgb = XGBRegressor()
model_xgb.fit(X_tr, y_tr.values.squeeze())

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [37]:
# 평가

from sklearn.metrics import mean_squared_error

y_val_rb_pred = model_rb.predict(X_val)
y_val_xgb_pred = model_xgb.predict(X_val)

rmse_rb = mean_squared_error(y_val, y_val_rb_pred) ** 0.5
rmse_xgb = mean_squared_error(y_val, y_val_xgb_pred) ** 0.5

print(f"{rmse_rb: .3f}, {rmse_xgb: .3f}")

 2795.887,  2537.247

In [34]:
print(pd.DataFrame({
    'columns': X_tr.columns,
    'importance_rf': model_rb.feature_importances_,
    'importance_xgb': model_xgb.feature_importances_,
}))

              columns  importance_rf  importance_xgb
0               model       0.046214        0.025953
1                year       0.227610        0.210497
2        transmission       0.010039        0.029789
3             mileage       0.027931        0.005429
4            fuelType       0.009572        0.039040
5                 tax       0.011168        0.010140
6                 mpg       0.480209        0.301681
7          engineSize       0.175142        0.377470
8  engineSize_upper_3       0.012114        0.000000

In [39]:
pred = model_xgb.predict(X_test)

output = pd.DataFrame({
    'id': [i for i in range(1, len(pred)+1)],
    'price': pred.astype(int)
})

print(output)

        id  price
0        1  30836
1        2  13945
2        3  23738
3        4  15181
4        5  13567
...    ...    ...
3195  3196  17488
3196  3197  11167
3197  3198  14814
3198  3199  23651
3199  3200  13709

[3200 rows x 2 columns]

In [40]:
output.to_csv('../yemoonsaBigdata/res/2022년-5월-기출복원문제.csv', index=False)